.feature-row {
/*    display: table;
    width: 100%;*/
}
.feature-content {
}
.feature-title {
    padding: 5px;
    background-color: #000;
}
.feature-title h2{
    color: #FFF;
}

.feature-body {
    padding-left: 25px;
}

img.banner {
    padding: 10px;
    width: 720px;
    height: 300px;
}

strong {
    color: #00cc66;
}

@media (min-width: 992px) {

}
